.calendar--container {
  padding: 1rem;
  box-shadow: 0px 0px 7px;
  border-radius: 0.5rem;
  width: 95%;
  margin: 1rem auto;
}
.celendar--daysName {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.celendar--daysName > * {
  display: grid;
  place-items: center;
}
.calendar--days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 1rem;
}
.days {
  display: grid;
  place-items: center;
  /* margin-top: 0.5rem; */
  aspect-ratio: 1 / 1;
  /* border-radius: 50%; */
  cursor: pointer;
  border: 0.5px solid #4d54637c;
  padding: 0.5rem;
  position: relative;
}
.days:hover {
  box-shadow: 0px 0px 5px white;
}
.selected--day {
  box-shadow: 0px 0px 5px white;
}
.counter {
  position: absolute;
  right: 0;
  bottom: -0.18rem;
  font-size: 0.8rem;
  color: #9da4b3;
}

@media (max-width: 700px) {
  .counter {
    color: #5d6169;
  }
}
