.big--container {
  position: relative;
  height: 45vh;
}
.length--right {
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
  color: #9a4b4b;
}
.length--left {
  color: #9a4b4b;
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
}
.grade {
  padding: 1.5rem;
  background: #ff6b6b;
  overflow: scroll;
  height: 100%;
}
.grade::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1000px) {
  .grade {
    display: grid;
    grid-template-columns: repeat(2, minmax(20px, 1fr));
    gap: 5px;
  }
}
